body {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.page {
  width: 800px;
  margin: auto;
}

.center {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td, th {
  border: 1px solid #000;
  padding: 6px;
}

th {
  background: #eaeaea;
  text-align: left;
}

.header-table td {
  border: none;
}

.barcode {
  text-align: right;
  font-weight: bold;
}

.img-box {
  text-align: center;
  height: 180px;
}

.img-box img {
  height: 120px;
  border: 1px solid #000;
}

.declaration {
  margin-top: 20px;
  font-size: 11px;
}
